body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


header {
    position: sticky;
    top : 0px;
    text-align: center;
    padding: 20px;
    background-color: oklch(53.2% 0.157 131.589);
    color: rgb(0, 0, 0);
    width: 100%;
    }

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7a310798;
    margin: 20px;
    border-radius: 8px;
    width: 80%;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}